

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

body{
    background-color: black;
}
.display-container {
    height: 33vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightblue;
    margin-bottom: 2vh;

}

header {
    height: 4vh;
    width: 100vw;
    font-size: 0.4rem;
    color: aliceblue;
    padding-top: 2px;
    padding-left: 8px;
    margin-top: 2vh;
    margin-bottom: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.display {
    width: 90vw;
    height: 17%;
    padding-right: 10px;
    
    color: aliceblue;
    text-align: right;
    font-size: 3rem;
    margin-bottom: 5vh;
}

.container {
    height: 48vh;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.button {
    background-color: azure;
    border-radius: 90px;
    font-size: 2rem;
}

.operator {
    font-size: 3rem;
}

#num-0 {
    grid-row: 5;
    grid-column: 1/3;
}